Lenguajes de Marcas/Ejercicios Repaso/apuntes_dtd.dtd

<!--APUNTES DTD INTERNOS Y EXTERNOS-->

<!--DTD INTERNO-->

<!DOCTYPE alumno [
<!ELEMENT alumno (nombre, apellido, curso)>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT apellido (#PCDATA)>
<!ELEMENT curso (#PCDATA)>
]>
<alumno>
    <nombre>Iker</nombre>
    <apellido>Bueno</apellido>
    <curso>Primero</curso>
</alumno>

<!--DTD EXTERNO(PRIMERO EL .DTD)-->

<!ELEMENT curso (nombre, profesor, horas)>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT profesor (#PCDATA)>
<!ELEMENT horas (#PCDATA)>

<!--DTD EXTERNO(DESPUES EL .XML)-->

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE curso SYSTEM "externa2-2.dtd">
<curso>
  <nombre>Desarrollo Web</nombre>
  <profesor>María López</profesor>
  <horas>120</horas>
</curso>